{% extends 'blog/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock css %}

{% block content %}
<div class="about-container">
    <h1>About Me</h1>
    <p>
        Vachagan Karapetyan is a passionate and dedicated individual with a profound love for coding in Python and Django. His eyes light up when he delves into the world of programming, and he finds solace in writing elegant and efficient code to bring his ideas to life. With a deep understanding of the intricacies of web development, he continuously seeks to improve his skills and stay updated with the latest advancements in technology.

Beyond his technical pursuits, Vachagan has a heart that yearns for love and connection. He has fallen deeply for a special girl, hoping that their paths would intertwine. However, fate has different plans, as she does not share the same feelings. Despite the heartache, he faces this emotional challenge with resilience, drawing strength from his passions and unwavering determination.

To maintain a balanced lifestyle, Vachagan turns to fitness and workout routines. The discipline he exhibits in his coding projects is mirrored in his approach to physical fitness, channeling his energy into building a strong and healthy body.

Vachagan's dreams transcend his personal life; he is driven by a higher purpose. He aspires to escape the limitations of reality, akin to breaking free from the confines of the matrix. This ambitious goal extends to taking care of his parents, aiming to provide them with a comfortable and fulfilling retirement as an expression of his love and gratitude.

In social settings, Vachagan is an introvert by nature. He finds comfort in solitude, valuing introspection and deep thinking. Although he may not have an extensive circle of friends, those who know him appreciate his sincerity, integrity, and the unwavering loyalty he shows to those he trusts.

Vachagan Karapetyan's story is one of determination, resilience, and introspection. Through the world of Python and Django, he continues to pursue his passion for coding while navigating the complexities of life and love, aiming to carve a unique path towards his dreams and a brighter future for himself and his loved ones.
    </p>
</div>
{% endblock content %}